.time {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 4%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'jiang', cursive;
  font-size: 3vw;
  background: #00000033;
}
.reset {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 20%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'jiang';
  font-size: 3vw;
  background: #00000033;
  pointer-events: auto;
}
.control {
  position: absolute;
  bottom: 10%;
  left: 37.5vw;
  width: 25vw;
  height: 30vh;
  //   background-color: red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  .raw {
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .key {
      margin-left: 0.6vw;
      width: 5vw;
      height: 8.5vh;
      border: 2px solid #ffffff;
      background: #ffffff44;
    }
    .large {
      width: 16vw;
    }
    .active {
      background: #ffffff99;
    }
  }
}
