html body h1 h2 {
  margin: 0;
  padding: 0;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.game-home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.canvas-home {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  touch-action: none;
}

.canvas-home canvas {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.game-ui {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

@font-face {
  font-family: 'jiang';
  src: url(/public/fonts/jiang700W.ttf);
}
